.navbar{
    width: 100%;
    padding: 10px;
    background-color: white;
    box-shadow:10px 20px 30px rgba(0,0,0,0.2);
    position: fixed;
    z-index: 999
}

.navbar-inner-content{
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    margin: 0 auto;
    padding: 10px 0px;
}
.navbar-inner-content > .items{
    display: flex;
    align-items: center;
}
.navbar-inner-content>.items>.item{
    margin: 0 15px;
}
.item>a{
    color: black;
}

.ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar, .ck.ck-editor__top .ck-sticky-panel .ck-toolbar.ck-rounded-corners{
    margin-top: 20px;   
}

.ck-rounded-corners .ck.ck-editor__main>.ck-editor__editable, .ck.ck-editor__main>.ck-editor__editable.ck-rounded-corners{
    height: 450px;
}


.ck.ck-editor__main>.ck-editor__editable:not(.ck-focused){
    height: 450px;
}